{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],        
        "indent": ["warn", 2],
        "prefer-destructuring": ["warn"]      
    }
}
